@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-gov-dynamic-subset.min.css");
@font-face {
  font-family: "Pretendard GOV Variable";
  src: url("/fonts/PretendardGOVVariable.ttf") format("ttf");
  font-display: swap;
}
* {
  font-family: "Pretendard GOV Variable", "Pretendard GOV", sans-serif;
  margin: 0;
  padding: 0;
  font-display: swap;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select,
ul,
li,
span,
em,
label,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: inherit;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="file"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="search"],
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  background: none;

  font-family: "Pretendard GOV Variable", "Pretendard GOV", -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
.scroll-container {
  position: relative;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 3px;
    overflow: hidden;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

.mainContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  height: 100vh;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}
